body {
	background-color: #102027;
	font-family: 'Orbitron', sans-serif;
    color: #a5ada2;

}

.container {

}

.header-container {
	background-color: #1b2227;
	border: 1px solid #62727b;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-animation: 
        fadeInDown 3s 1,
        levitate 3s infinite;  
    -moz-animation: 
        fadeInDown 3s 1,
        levitate 3s infinite;
}

.avatar-small {
	display: inline-block;
	margin: 20px;
	height: 32px;
	width: 32px;
	overflow: hidden;
	border-radius: 50px;
}

.avatar-small > img {
	height: 32px;
	width: 32px;
}

.logout-btn {
	margin: 30px 0 0;
}

.wildcard-header > .col-lg-4 {
	text-shadow: 0px 0px 35px #62726b;
	color: #a5ada2;
	top: 20px;
	font-size: 35px;

}

.user_profile {
	border: 1px solid #62727b;
	text-align: center;
	height: 80px;
    width: 80px;
    text-align: center;
    overflow: hidden;
    border-radius: 75px;
    margin: 0 auto;	
}

.user-name {
	margin: 0 20px 0 0px;
	font-size: 12px;
	font-color: ;
}

.dashboard-logo {
	text-shadow: 0px 0px 11px #62726b;
    background-image: url(../img/logo.svg);
    height: 80px;
    width: 180px;
    font-size: 12px;
    background-repeat: no-repeat;
    padding-top: 41px;
    padding-left: 102px;
}

.avatar-medium {
	height: 80px;
	width: 80px;
	text-align: center;
	overflow: hidden;
	border-radius: 75px;
}

.avatar-medium > img {

	height: 80px;
	widht: 80px;
}
