/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#wrapper {
    width: 100%;
    height: 100%;
    min-height: 800px;
    border: 0px solid ;
}


.grid960 {
    width: 960px;
    height: 100%;
    min-height: 900px;
    margin: 0 auto;
}

#TodoList {
    width: 100%;
    height: 1300px;
    margin: 0 auto;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    background: rgba(165,193,164,0.4);
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;

}

#header {
    width: 100%;
    height: 330px;
    float: left;
    border: 1px;
    background: #468f44;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
h4 {
    text-shadow: 2px -2px #1f5220;
    color: #FFF;
    margin: 0px; 
}
h5 {
    text-shadow: 2px -2px #1f5220;
    color: #FFF;
    margin: 0px; 
    text-indent: 15px;
}

#header > input {
    width: 800px;
    height: 90px;
    border: 1px;
    margin-left: 15px;
    right: auto;
    color: #FFF;
    float: left;
    padding: 0 30px 0 0;
    font-size: 35px;
    font-weight: 400;
    text-indent: 20px;
    background: rgba(255,255,255,0.2);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;

    background: rgba(255,255,255,0.2);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;

    -webkit- appearance: none;
    -moz- appearance: none;
    -ms- appearance: none;
    -o- appearance: none;
}

#header > input::-webkit-input-placeholder {
    color: rgba(255,255,255,0.75);
}
#header > input::-moz-input-placeholder {
    color: rgba(255,255,255,0.75);
}#header > input::-ms-input-placeholder {
    color: rgba(255,255,255,0.75);
}#header > input::-o-input-placeholder {
    color: rgba(255,255,255,0.75);
}

#header > button {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-top: 15px;
    padding: 0;
    font-size: 50px;
    float: right;
    border: 0px;
    top: 60px;
    right: 173px;
    background: #FFF;
    color: rgba(26,92,6,0.75);
    box-shadow: 5px -5px #1f5220;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 35px;


    -webkit- appearance: none;
    -moz- appearance: none;
    -ms- appearance: none;
    -o- appearance: none;
}
#header > textarea {
    width: 900px;
    height: 100px;
    border: 1px;
    margin-top: 15px;
    margin-left: 15px;
    min-height: 100px;
    max-height: 135px;
    right: auto;
    color: #FFF;
    float: left;
    padding: 0 30px 0 0;
    font-size: 35px;
    font-weight: 250;
    text-indent: 20px;
    background: rgba(255,255,255,0.2);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;

    -webkit- appearance: none;
    -moz- appearance: none;
    -ms- appearance: none;
    -o- appearance: none;
}

#description {
    color: #9da99d;
    font-weight: 400;
}

#header > textarea::-webkit-input-placeholder {
    text-shadow: 1px -1px #1f5220;
    color: rgba(255,255,255,0.75);
}
#header > textarea::-moz-input-placeholder {
    text-shadow: 1px -1px #1f5220;
    color: rgba(255,255,255,0.75);
}
#header > textarea::-ms-input-placeholder {
    text-shadow: 1px -1px #1f5220;
    color: rgba(255,255,255,0.75);
}
#header > textarea::-o-input-placeholder {
    text-shadow: 1px -1px #1f5220;
    color: rgba(255,255,255,0.75);
}

#container {
    width: 100%;
    float: left;
}

ul.list {
    width: 100%;
    float: left;
    padding: 0px;
    list-style-type: none;
}
ul.list > li {
    width: 100%;
    height: 100px;
    float: left;
    background: rgba(26,92,6,0.15);
    margin-bottom: 10px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    text-indent: 15px;
    font-size: 20px;

}
ul.list > li:last-of-type {
    margin: 0px;
}

ul.list li .buttons {
    width: 150px;
    height: 70px;
    float: right;
    margin: 0;

}

.buttons > button {
    width: 60px;
    height: 50px;
    border: 0px;
    color: #809683;
    border-left: 2px solid #1f5220;
    margin: 0;
    margin-bottom: 10px;
    background: none;
    box-shadow: none;
    outline: none;
    font-size: 20px;
    float: left;

    -webkit- appearance: none;
    -moz- appearance: none;
    -ms- appearance: none;
    -o- appearance: none;
}

.buttons > button.remove:hover{
    color: #b00d19;
    text-shadow: 0.5px 0px #b00d19;
}

.buttons > button.complete:hover{
    color: #1f5220;
    text-shadow: 0.5px 0px #1f5220;
}

#itemDone:not(:empty) {
    opacity: 0.5;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}